apiVersion: apps/v1
kind: Deployment
metadata:
  name: blog-frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: blog-frontend
  template:
    metadata:
      labels:
        app: blog-frontend
    spec:
      containers:
      - name: frontend
        image: shounak26/blogapp_microservices-frontend:latest
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: blog-frontend
spec:
  selector:
    app: blog-frontend
  ports:
    - port: 80
      targetPort: 80
  type: ClusterIP